<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/get_flag" method="post">
        <label for="">Country Name:</label>
        <input type="text" name="country_name" placeholder="Country Name">

        <button type="submit">Get Flag</button>
    </form>

    {% if 'flag_url' in session %}
        <br>
        <img src="{{session['flag_url']}}" alt="">
    {% endif %}
</body>
</html>